<div class="row" style="padding-top: 20px">
  <h4>Menu</h4>
  <ul>
    <li>Return to <%= link_to 'solution', task2_index_path %></li>
    <li>Return to <%= link_to 'homepage', home_index_path %></li>
  </ul>
</div>