<h1>Divide-By-Zero Exception</h1>
<p>How a divide-by-zero exception is created:</p>
<ol>
  <li>1/0 is assigned to @result inside a controller (basics_controller.rb).</li>
  <li>@result is then displayed in a view (exception.html.erb).</li>
  <li>A link that points to exception.html.erb is placed on the homepage.
    The link will trigger the divide-by-zero exception when clicked.</li>
  <li>View <a href="/basics/exception">a divide-by-zero exception</a>.</li>
  <li>Based on our understanding of the assignment task, the exception doesn't need to be caught right now.</li>
</ol>

<h4>Menu</h4>
<ul>
  <li>Return to <a href="/basics">solution</a></li>
  <li>Return to <a href="/">homepage</a></li>
</ul>