<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-default">
          <th>symbol</th>
          <th>total_shares</th>
          <th>total_prices</th>
        </thead>
        <tbody>
        <% @result.each do |x| %>
          <tr>
            <td><%= x['symbol'] %></td>
            <td><%= x['total_shares'] %></td>
            <td><%= x['total_prices'] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render partial: 'basics/menu_task2' %>