<div class="row head">
  <h1>Assignment 2 Solution</h1>
</div>
<div class="row">
  <h3>What We Did</h3>
  <p>
    ...
  </p>

</div>
<div class="row">
  <ul>
    <li><strong>View <%= link_to 'quotations', quotations_show_path %></strong></li>
    <li><strong>View <%= link_to 'scripts', '/sql/script.txt' %></strong></li>
    <li><strong>View <%= link_to 'stocks-i-like', stocks_i_like_path %></strong></li>
  </ul>
</div>
<div class="row" style="padding-top: 20px">
  <h3>References</h3>
  <ol>
    <li>https://...</li>
  </ol>
</div>



