<div class="row">
  <div class="col-md-12">
    <h1>Assignment 6 Solution</h1>
  </div>
</div>
<div class="row" style="padding-top: 20px;">
  <div class="col-md-12">
    <ul>
      <li><strong>View <%= link_to 'Final project (Footballry)', 'https://web8.cs.ait.ac.th/footballry' %></strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br><br><h5>Group13</h5><br>

    <p>
      ...
    </p>

    <br><br><h5>Group14</h5><br>

    <p>
      ...
    </p>

    <br><br><h5>Feedback</h5><br>

    <p>
      ...
    </p>

  </div>
</div>




