<div class="row">
  <div class="col-md-12">
    <h1>Assignment 6 Solution</h1>
  </div>
</div>
<div class="row" style="padding-top: 20px;">
  <div class="col-md-12">
    <ul>
      <li><strong>View <%= link_to 'Final project (Footballry)', 'https://web8.cs.ait.ac.th/footballry' %></strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br><br><h5>Group13</h5><br>

    <p>
      Navigation ✓
    </p>

    <p>
      Authentication:
    </p>

    <ul>
      <li>Online login (pending – the review process on the login functionality was done on a local machine.)</li>
      <li>Login as admin ✓</li>
      <li>Login as user ✓</li>
    </ul>

    <p>
      Event (main content)
    </p>

    <ul>
      <li>Add (by admin or user) ✓</li>
      <li>Edit (by admin or user) ✓</li>
      <li>Delete (by admin or user) ✓</li>
    </ul>

    <p>
      Calendar (main content) (pending)
    </p>

    <p>
      Comment (secondary content)
    </p>

    <ul>
      <li>Add (by admin or user) ✓</li>
      <li>Edit (pending)</li>
      <li>Delete (pending)</li>
    </ul>

    <p>Announcement (secondary content by admin only)</p>

    <ul>
      <li>Add ✓</li>
      <li>Edit ✓</li>
      <li>Delete (pending)</li>
    </ul>

    <p>User list by admin</p>

    <ul>
      <li>Ban ✓</li>
      <li>Undo ban (pending)</li>
      <li>Confirmation message before ban (pending)</li>
      <li>Pagination (pending)</li>
    </ul>

    <p>Versioning control</p>

    <ul>
      <li>User activity histories (pending)</li>
      <li>Admin activity histories (pending)</li>
    </ul>

    <br><br><h5>Group14</h5><br>

    <p>
      Navigation (partially worked)
    </p>

    <p>
      Authentication:
    </p>

    <ul>
      <li>Login as admin ✓</li>
      <li>Login as user ✓</li>
      <li>User sign up ✓</li>
    </ul>

    <p>
      Event (main content)
    </p>

    <ul>
      <li>Add (by admin or user) ✓</li>
      <li>Edit (by admin or user) ✓</li>
      <li>Delete (by admin or user) ✓</li>
      <li>Show (by admin or user) ✓</li>
    </ul>

    <p>
      Donation (secondary content)
    </p>

    <ul>
      <li>Card payment ✓</li>
      <li>Receipt ✓</li>
    </ul>

    <p>
      User profile ✓
    </p>

    <p>User list (by admin only)</p>

    <ul>
      <li>Suspend/release ✓</li>
      <li>Promote/demote ✓</li>
      <li>Deactivate ✓</li>
    </ul>

    <p>Chat (by admin only) ✓</p>

    <p>Message notification</p>

    <ul>
      <li>Off option (pending)</li>
    </ul>

    <p>Version control (pending)</p>

    <br><br><h5>Feedback</h5><br>

    <p>
      Summary<br><br>
      From the feedbacks received, we learned that we have to improve the following items:
    </p>

    <ul>
      <li>Options for a regular user need to be clarified.</li>
      <li>Ability to view public contents, e.g. news, videos, schedules, and marketplace.</li>
      <li>Ability to view other users and their roles.</li>
    </ul>

    <p>
      Action Plan
    </p>

    <ul>
      <li>Yes, we are working over the weekend to address the feedback.</li>
      <li>Additionally, we are also working on completing all of the functionalities we promised in PS4 and PS5.</li>
      <li>Ability to view other users and their roles.</li>
    </ul>

    <p>
      ----------------------- Feedback by Web4 Team ---------------------<br>
      Hi Team Web 8,
    </p>

    <p>
      ------------------------------<br>
      Criticism for Web8<br>
      ------------------------------
    </p>

    <p>
      1. System is Designed for :<br>
      what the system is trying to do -- people can share their opinions on the forum
      <ul>
        <li>Users can create the new post and edit their posts in each topic that admin already created in the forum.</li>
        <li>Admins can manage topics, posts and so on.</li>
      </ul>
    </p>

    <p>
      2. The Data model seems sufficient. But we would like to suggest if it is possible then it would be better to have a relationship between User and Role
      We think that there is a need to have entities like Moderator and Normal User, and also the following relationships :<br>
      a. Normal User has many comments<br>
      b. Normal User has many responses<br>
      Workflow diagram is pretty clearly designed and fairly easy to understand. 
    </p>

    <p>
      3. Register yourself as a user and content author -- Yes, the registration is work as a user.
    </p>

    <p>
      4. Is the User Authentication Authorisation working ? -- Yes, there are a proper user authentication and authorization on their website
    </p>

    <p>5. Comments for Look & Feel -> The use of use colors is nice and looks good on the website. 
      The Layout also is proper and as expected. The font used for the system also reflects a good design style.
    </p>

    <p>
      6. Comments for Navigation -> -- It is easy to understand in each feature. It is a user-friendly website because it always provides the understandable signs and symbols in the header bar and the side bar.
    </p>

    <p>
      Regards,<br>
      Benya (st118856) & Parth (st118247)
    </p>
  </div>
</div>




