<div class="row">
  <div class="col-md-12">
    <h1>Assignment 6 Solution</h1>
  </div>
</div>
<div class="row" style="padding-top: 20px;">
  <div class="col-md-12">
    <ul>
      <li><strong>View <%= link_to 'Final project (Footballry)', 'https://web8.cs.ait.ac.th/footballry' %></strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br><br><h5>Group13</h5><br>

    <p>
      Navigation ✓
    </p>

    <p>
      Authentication:
    </p>

    <ul>
      <li>Online login (pending – the review process on the login functionality was done on a local machine.)</li>
      <li>Login as admin ✓</li>
      <li>Login as user ✓</li>
    </ul>

    <p>
      Event (main content)
    </p>

    <ul>
      <li>Add (by admin or user) ✓</li>
      <li>Edit (by admin or user) ✓</li>
      <li>Delete (by admin or user) ✓</li>
    </ul>

    <p>
      Calendar (main content) (pending)
    </p>

    <p>
      Comment (secondary content)
    </p>

    <ul>
      <li>Add (by admin or user) ✓</li>
      <li>Edit (pending)</li>
      <li>Delete (pending)</li>
    </ul>

    <p>Announcement (secondary content by admin only)</p>

    <ul>
      <li>Add ✓</li>
      <li>Edit ✓</li>
      <li>Delete (pending)</li>
    </ul>

    <p>User list by admin</p>

    <ul>
      <li>Ban ✓</li>
      <li>Undo ban (pending)</li>
      <li>Confirmation message before ban (pending)</li>
      <li>Pagination (pending)</li>
    </ul>

    <p>Versioning control</p>

    <ul>
      <li>User activity histories (pending)</li>
      <li>Admin activity histories (pending)</li>
    </ul>

    <br><br><h5>Group14</h5><br>

    <p>
      Navigation (partially worked)
    </p>

    <p>
      Authentication:
    </p>

    <ul>
      <li>Login as admin ✓</li>
      <li>Login as user ✓</li>
      <li>User sign up ✓</li>
    </ul>

    <p>
      Event (main content)
    </p>

    <ul>
      <li>Add (by admin or user) ✓</li>
      <li>Edit (by admin or user) ✓</li>
      <li>Delete (by admin or user) ✓</li>
      <li>Show (by admin or user) ✓</li>
    </ul>

    <p>
      Donation (secondary content)
    </p>

    <ul>
      <li>Card payment ✓</li>
      <li>Receipt ✓</li>
    </ul>

    <p>
      User profile ✓
    </p>

    <p>User list (by admin only)</p>

    <ul>
      <li>Suspend/release ✓</li>
      <li>Promote/demote ✓</li>
      <li>Deactivate ✓</li>
    </ul>

    <p>Chat (by admin only) ✓</p>

    <p>Message notification</p>

    <ul>
      <li>Off option (pending)</li>
    </ul>

    <p>Version control (pending)</p>

    <br><br><h5>Feedback</h5><br>

    <p>
      (Still waiting for the feedbacks.)
    </p>

  </div>
</div>




