<div class="row">
  <div class="col-md-12">
    <h1>Assignment 6 Solution</h1>
  </div>
</div>
<div class="row" style="padding-top: 20px;">
  <div class="col-md-12">
    <ul>
      <li><strong>View <%= link_to 'Final project (Footballry)', 'https://web8.cs.ait.ac.th/footballry' %></strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br><br><h5>Group13</h5><br>

    <p>
      Navigation ✓
    </p>

    <p>
      Authentication:
    </p>

    <ul>
      <li>Online login (pending – the review process on the login functionality was done on a local machine.)</li>
      <li>Login as admin ✓</li>
      <li>Login as user ✓</li>
    </ul>

    <p>
      Event (main content)
    </p>

    <ul>
      <li>Add (by admin or user) ✓</li>
      <li>Edit (by admin or user) ✓</li>
      <li>Delete (by admin or user) ✓</li>
    </ul>

    <p>
      Calendar (main content) (pending)
    </p>

    <p>
      Comment (secondary content)
    </p>

    <ul>
      <li>Add (by admin or user) ✓</li>
      <li>Edit (pending)</li>
      <li>Delete (pending)</li>
    </ul>

    <p>Announcement (secondary content by admin only)</p>

    <ul>
      <li>Add ✓</li>
      <li>Edit ✓</li>
      <li>Delete (pending)</li>
    </ul>

    <p>User list by admin</p>

    <ul>
      <li>Ban ✓</li>
      <li>Undo ban (pending)</li>
      <li>Confirmation message before ban (pending)</li>
      <li>Pagination (pending)</li>
    </ul>

    <p>Versioning control</p>

    <ul>
      <li>User activity histories (pending)</li>
      <li>Admin activity histories (pending)</li>
    </ul>

    <br><br><h5>Group14</h5><br>

    <p>
      Navigation (partially worked)
    </p>

    <p>
      Authentication:
    </p>

    <ul>
      <li>Login as admin ✓</li>
      <li>Login as user ✓</li>
      <li>User sign up ✓</li>
    </ul>

    <p>
      Event (main content)
    </p>

    <ul>
      <li>Add (by admin or user) ✓</li>
      <li>Edit (by admin or user) ✓</li>
      <li>Delete (by admin or user) ✓</li>
      <li>Show (by admin or user) ✓</li>
    </ul>

    <p>
      Donation (secondary content)
    </p>

    <ul>
      <li>Card payment ✓</li>
      <li>Receipt ✓</li>
    </ul>

    <p>
      User profile ✓
    </p>

    <p>User list (by admin only)</p>

    <ul>
      <li>Suspend/release ✓</li>
      <li>Promote/demote ✓</li>
      <li>Deactivate ✓</li>
    </ul>

    <p>Chat (by admin only) ✓</p>

    <p>Message notification</p>

    <ul>
      <li>Off option (pending)</li>
    </ul>

    <p>Version control (pending)</p>

    <br><br><h5>Feedback</h5><br>

    <p>
      Summary<br><br>
      From the feedbacks received, we learned that we have to improve the following items:
    </p>

    <ul>
      <li>Options for a regular user need to be clarified.</li>
      <li>Ability to view public contents, e.g. news, videos, schedules, and marketplace.</li>
      <li>Ability to view other users and their roles.</li>
    </ul>

    <p>
      Action Plan
    </p>

    <ul>
      <li>Yes, we are working over the weekend to address the feedback.</li>
      <li>Additionally, we are also working on completing all of the functionalities we promised in PS4 and PS5.</li>
      <li>Ability to view other users and their roles.</li>
    </ul>

    <p>
      <b>----------------------- Feedback by Web2 Team ---------------------</b><br>
      Hi Team Web 8,
    </p>

    <p>
      ------------------------------<br>
      Criticism for Web8<br>
      ------------------------------
    </p>

    <p>
      1. System is Designed for :<br>
      what the system is trying to do -- people can share their opinions on the forum
      <ul>
        <li>Users can create the new post and edit their posts in each topic that admin already created in the forum.</li>
        <li>Admins can manage topics, posts and so on.</li>
      </ul>
    </p>

    <p>
      2. The Data model seems sufficient. But we would like to suggest if it is possible then it would be better to have a relationship between User and Role
      We think that there is a need to have entities like Moderator and Normal User, and also the following relationships :<br>
      a. Normal User has many comments<br>
      b. Normal User has many responses<br>
      Workflow diagram is pretty clearly designed and fairly easy to understand. 
    </p>

    <p>
      3. Register yourself as a user and content author -- Yes, the registration is work as a user.
    </p>

    <p>
      4. Is the User Authentication Authorisation working ? -- Yes, there are a proper user authentication and authorization on their website
    </p>

    <p>5. Comments for Look & Feel -> The use of use colors is nice and looks good on the website. 
      The Layout also is proper and as expected. The font used for the system also reflects a good design style.
    </p>

    <p>
      6. Comments for Navigation -> -- It is easy to understand in each feature. It is a user-friendly website because it always provides the understandable signs and symbols in the header bar and the side bar.
    </p>

    <p>
      Regards,<br>
      Benya (st118856) & Parth (st118247)
    </p>

    <p><b>----------------------- Feedback by Web3 Team ---------------------</b></p>
    <p>Web 8 Group Evaluation</p>
    <p>---------------</p>
    <p><b>Project description</b></p>
    <p>This web application intends to create a community for football<br>
      lover. This web application looks like a web board like Pantip that all<br>
      people who have the same interesting on football will come and<br>
      exchange about football information.</p>
    <p><b>Our experiment</b></p>
    <p>We tried to sign up as both user and admin roles and played around<br>
      within web8 website.<br>
      Roles: Email<br>
      customer: st118957@ait.asia<br>
      admin: admin@ait.asia</p>
    <p>Evaluate by Web 3 Group<br>
      (Theekshana Wickramathilake)<br>
      (Chawisa Phumdontree)</p>
    <p><b>Evaluation Rubrics</b></p>
    <p><b>I. Data model</b></p>
    <p>This is a scrupulously data mode. You’ve explained everything.</p>
    <p><b>II. Authentication and Authorization</b></p>
    <p>(1) As user, we tried to create a new post and we found that we can only edited our own post. That’s good!<br>
      (2) As admin, it seems like you’ve a hard work on your project. There are a lot of <br>
      functions which we can’t find when we logged in as user or guest.<br>
      (3) Upcoming ‘Log in with Facebook’! Good idea to integrate with common social account.
    </p>
    <p><b>III. Look & feel and Navigation</b></p>
    <p>Your design is really nice. Good design. Awesome, we love it. It looks simple and<br>
      clean as well. Moreover, in Admin Panel, you tried to use icons instead of text. That’s<br>
      very good design. However, this is our little recommendation for you.<br>
      (1)	In New Post page, can you please try to make it in friendly ratio. Title and body text field length is quite short. It’s quite hard to fill a long text.<br>
      (2)	Please put more information about what are the different between each post type.<br>
      (3)	Video? Can we post a VDO link or upload a VDO?<br>
      (4)	There are some idle links. I’m not sure that you will implement all functions or not.<br>
      (5)	If not, we would recommend you to remove or hide or attach some annotation like upcoming feature :)
    </p>
    <p><b>IV. Application</b></p>
    <p>This are what we found from our blind test:<br>
      (1)	As user, we clicked to add a new post and click ‘back’ button. Then, we found out<br>
      that we were not redirect to the main page but we went back to Posts which is not the same page.<br>
      (2)	When we clicked on user (at top right), there are some error. You may interest to check it there.<br>
      (3)	At List of Roles, it might not be a good UI for the future usage. What if you are<br>
      going to have more than 10k users? We suggest you to remove from list of role and<br>
      when we click (i) or information icon, all user should be displayed in table.<br>
      (4)	Refers from (3), Why it shows “user#3”? Why it didn’t show real user name?<br>
      (5)	Moreover, we tried to click on the user and got an error.
    </p>
  </div>
</div>




