<h1>Welcome to Homepage</h1>
<p>How we generates a divide-by-zero exception</p>
<ol>
  <li>We created @result = 1/0 in the basics_controller.rb</li>
  <li>We displayed @result in exception.html.erb under views</li>
  <li>We created link to /basics/exception on the homepage to trigger the divide-by-zero exception</li>
</ol>
<h3><a href="/basics/exception">- Click this to get a divide-by-zero exception</a></h3>
<h3><a href="/basics/">- Assignment1 : Top 10 trending videos on Youtube</a></h3>
