<h1>Web08 Team's Homepage</h1>
<br/>
<h3>How a divide-by-zero exception is created:</h3>
<ol>
  <li>1/0 is assigned to @result inside a controller (basics_controller.rb).</li>
  <li>@result is then displayed in a view (exception.html.erb).</li>
  <li>A link that points to exception.html.erb is placed on the homepage. 
The link will trigger the divide-by-zero exception when clicked.</li>
<li>View <a href="/basics/exception">a divide-by-zero exception</a>.</li>
</ol>
<h3>View <a href="/basics/">the top 10 trending videos</a> on YouTube</h3>
