<h1>Web08 Team's Homepage</h1>

<h3>Assignment 1</h3>
<ol>
<li>View <a href="/basics/exception-explanation">the divide-by-zero exception</a> explanation</li>
<li>View <a href="/basics/">the top 10 trending videos</a> on YouTube</li>
</ol>